@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

body {
    background-image: url(images/website\ image.jpg);
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    width: 100%;
    /* align-items: center; */
    /* overflow: scroll; */
}

.headshot {
  margin-right: 25px;
}

.someLinks {
  background-color: transparent;
  align-items: center;
}

#projectInfo {
  height: fit-content;
  background-size: cover;
}

h1 {
  background-color: black;
}

#project-1 {
  display: none;
}

#project-2 {
  display: none;
}

#project-3 {
  display: none;
}

.float-left {
  float: left;
}


.background-img {
    background-size: cover;
    filter: grayscale(100%);
    filter: blur(5px);
    filter: contrast(200%);
    /* max-width: 20%; */
}

.row {
    align-items: center;
    justify-content:center;
}

.container {
    /* margin: 0px auto; */
    margin-top: 70px;
    margin-bottom: 50px;
    width: auto;
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
      height: 100%;
    color: black;
    max-width: 75%;
}


p {
    font-family: 'Montserrat, Helvetica, Arial, sans-serif';
    color: black;
    font-weight:normal;
    line-height: 1;
    font-size:larger;
}

#about-me {
  display: none;
  background-color: transparent;
}

.text {
    background-color:whitesmoke;
    color: black;
    padding: 10px;
    font-weight: bolder;
}


h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 3.5px;
}


#home {
    align-items: center;
    background-color: black;
    border: 0px;
    margin: auto;
    max-width: 15rem;
}

#my-work {
  align-items: center;
  display: none;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  width: auto;
  color: white;
}

#other-work {
    display: none;
  }

.work-section{
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.row {
    margin-top: 100px;
    max-width: 25%;

}

.project {
  display: none;
}

#project-box {
  flex: 1;
}

.container-fluid {
  background-color: transparent;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar-nav {
  padding-left: 40%;

}



.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}



.navbar-toggler {
    float: right;
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
  width: 20%;
  margin-right: 10%;
}

.right {
  width: 70%;
  float: right;
}

.header {
  overflow: hidden;
}

header {
  background-color: black;
  color: white;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.light {
  background-color: black;
}

.d-flex {
    padding-left: 70px;
    padding-right: 15px;

}

.link-active {
    color: #555;
}

.box-shadow{
  box-shadow: 0;
  transition: box-shadow .5s;
}

.box-shadow:hover {
  box-shadow: 15px 10px 10px rgb(88, 86, 102);
}

.title {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  font-weight: bolder;
  background-color: black;
  width: auto;
}

.fullStack {
  margin-left: 25%;
  margin-right:25%; 
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Montserrat, Helvetica, Arial, sans-serif';;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;  
}

footer p {
    color: whitesmoke;
}

.title {
    /* font-size: .9rem; */
    text-align: center;
    color:black;
    font-weight:normal;
    line-height: 1;
}

.card img {
  position: relative;
  width: 200px;
  margin: 10px;
}

.image-title {
 font-family: 'Montserrat, Helvetica, Arial, sans-serif';
  text-align: center;
  color: white;
}

#project-box {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sideClick {
  background-color: black;
}

.card {
  position: relative;
  width: auto;
  height: auto;
  transition: 0.5s;
  background-color: transparent;
  font-family: 'Arial';  
  margin: 20px;
}

.card:hover {
  z-index: 1;
  transform: scale(1.25);
  /* box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5); */
}

.social-icon {
    display: inline;
    align-items: center;
    line-height: 60px;
    font-size: 18px;
    padding: 0 5px;
}

.social-icon {
    color: #555;
    transition: color .5s;
}

.social-icon :hover{
    color: #317e9c;
}

@media screen {
  
}

@media all and (min-width: 768px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .navbar-nav {padding-top: 30px;
    }

}

@import "compass";
@import "compass/css3";
@import "compass/reset";


p {
    font-family: 'Arial';
    color: black;
    font-weight:lighter;
    line-height: 1.5;
}


span {
    display: block;
  }
  
  span:not(.light) {
    opacity: 0;
    -webkit-animation: flashText 5s ease-out alternate infinite;
            animation: flashText 5s ease-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: inline-block;
  }
  span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: rgb(197, 234, 245);
    filter: blur(10px);
    content: "";
    opacity: 0;
    -webkit-animation: flash 1s ease-out alternate infinite;
            animation: flash 1s ease-out alternate infinite;
  }
  
  @-webkit-keyframes flash {
    to {
      opacity: .2;
    }
  }
  
  @keyframes flash {
    to {
      opacity: .2;
    }
  }
  @-webkit-keyframes flashText {
    to {
      opacity: 0.15;
    }
  }
  @keyframes flashText {
    to {
      opacity: 0.15;
    }
}

@import "compass";
@import "compass/css3";
@import "compass/reset";

.image-title { 
    font-family: 'Montserrat, Helvetica, Arial, sans-serif';
  text-align: center;
  color: white;
}

ul {
    display: inline;
}


span {
    display: block;
}
  
span:not(.light) {
    opacity: 0;
    -webkit-animation: flashText 5s ease-out alternate infinite;
            animation: flashText 5s ease-out alternate infinite;
}
  
span.light {
    position: relative;
    display: inline-block;
}

span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: rgb(197, 234, 245);
    filter: blur(10px);
    content: "";
    opacity: 0;
    -webkit-animation: flash 1s ease-out alternate infinite;
            animation: flash 1s ease-out alternate infinite;
}
  
@-webkit-keyframes flash {
    to {
      opacity: .2;
    }
}
  
@keyframes flash {
    to {
      opacity: .2;
    }
}
@-webkit-keyframes flashText {
    to {
      opacity: 0.15;
    }
}
@keyframes flashText {
    to {
      opacity: 0.15;
    }
}

/* glitch effects */
.glitch {
    color: white;
}
  .glitch::before, .glitch::after {
    padding: 1rem;
    /* color: white; */
    content: "Steve's Portfolio";
    position:fixed;
    background-image: url(images/website\ image.jpg);
    /* background-attachment: scroll; */
    overflow: hidden;
    top: 0;
  }
  .glitch::before {
    left: 3px;
    text-shadow: -2px 0 rgb(64, 12, 204);
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count:inherit;
    animation-direction: reverse-alternate;
    box-shadow: 10px 5px 5px rgb(65, 64, 71);
    margin-bottom: 30px;
  }
  .glitch::after {
    float: left;
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    margin-bottom: 30px;
  }
  
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(73px, 350px, 128px, 30px);
    }
    5% {
      clip: rect(143px, 350px, 77px, 30px);
    }
    10% {
      clip: rect(45px, 350px, 27px, 30px);
    }
    15% {
      clip: rect(35px, 350px, 129px, 30px);
    }
    20% {
      clip: rect(58px, 350px, 115px, 30px);
    }
    25% {
      clip: rect(83px, 350px, 28px, 30px);
    }
    30% {
      clip: rect(80px, 350px, 96px, 30px);
    }
    35% {
      clip: rect(150px, 350px, 133px, 30px);
    }
    40% {
      clip: rect(109px, 350px, 57px, 30px);
    }
    45% {
      clip: rect(137px, 350px, 3px, 30px);
    }
    50% {
      clip: rect(36px, 350px, 35px, 30px);
    }
    55% {
      clip: rect(2px, 350px, 114px, 30px);
    }
    60% {
      clip: rect(104px, 350px, 127px, 30px);
    }
    65% {
      clip: rect(98px, 350px, 99px, 30px);
    }
    70% {
      clip: rect(105px, 350px, 74px, 30px);
    }
    75% {
      clip: rect(45px, 350px, 1px, 30px);
    }
    80% {
      clip: rect(145px, 350px, 86px, 30px);
    }
    85% {
      clip: rect(33px, 350px, 101px, 30px);
    }
    90% {
      clip: rect(18px, 350px, 31px, 30px);
    }
    95% {
      clip: rect(36px, 350px, 89px, 30px);
    }
    100% {
      clip: rect(83px, 350px, 66px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(4px, 350px, 61px, 30px);
    }
    5% {
      clip: rect(64px, 350px, 96px, 30px);
    }
    10% {
      clip: rect(27px, 350px, 70px, 30px);
    }
    15% {
      clip: rect(17px, 350px, 143px, 30px);
    }
    20% {
      clip: rect(92px, 350px, 75px, 30px);
    }
    25% {
      clip: rect(32px, 350px, 50px, 30px);
    }
    30% {
      clip: rect(55px, 350px, 94px, 30px);
    }
    35% {
      clip: rect(11px, 350px, 87px, 30px);
    }
    40% {
      clip: rect(116px, 350px, 150px, 30px);
    }
    45% {
      clip: rect(143px, 350px, 25px, 30px);
    }
    50% {
      clip: rect(41px, 350px, 30px, 30px);
    }
    55% {
      clip: rect(147px, 350px, 144px, 30px);
    }
    60% {
      clip: rect(67px, 350px, 37px, 30px);
    }
    65% {
      clip: rect(20px, 350px, 45px, 30px);
    }
    70% {
      clip: rect(85px, 350px, 76px, 30px);
    }
    75% {
      clip: rect(34px, 350px, 144px, 30px);
    }
    80% {
      clip: rect(140px, 350px, 43px, 30px);
    }
    85% {
      clip: rect(16px, 350px, 12px, 30px);
    }
    90% {
      clip: rect(139px, 350px, 132px, 30px);
    }
    95% {
      clip: rect(50px, 350px, 126px, 30px);
    }
    100% {
      clip: rect(37px, 350px, 52px, 30px);
    }
  }

/* HOME EFFECTS */
:root {
    --white:#f1f1f1
}

#homepage { 
    font-size: 40px;
    color: var(--white);
    letter-spacing: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

div > span {
  opacity: 0.15;
}
#I {
  opacity: 1;
  animation: flickerI 2s linear  reverse infinite;
}
#I::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
#L, #G {
  animation: flickerLG 2s linear reverse infinite;
  position: relative;
}
#L::after, 
#L::before  {
  content:' ';
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px);
}
#L::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}
#H {
  animation: flickerH 2s linear reverse infinite
}

#T {
  animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerLG {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.;
  }
  90% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.1;
  }
}

.headshot {
    width: 100%;
    padding-top: 25px;;
    flex-wrap: wrap;
    float: left;
    position: relative;
    margin-bottom: 20px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .headshot {
          flex-wrap: wrap;
          float: none;
          width: 75%;
      }
    }

.resume {
  margin-bottom: 20px;
  padding: 50px;
  height: 500px;
  font-family: 'Montserrat, Helvetica, Arial, sans-serif';
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.image-title {
 font-family: 'Montserrat, Helvetica, Arial, sans-serif';
  text-align: center;
  color: white;
}

#resume {
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 40px 2px #707070;
  background-image:url(images/website\ image.jpg);
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
  z-index: 1;
}
#resume:hover {
  animation: unset;
  margin-top: 18vh;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.view-resume {
  color: white;
}

/* homepage button */


.learnMore {
    font-size: 20px;
    color: var(--white);
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* width: 50%;  */
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.center {
    align-items: center;
    position: relative;
    width: auto;
    background-color: black;
    background-size: cover;
    width: auto;
    padding: 0;
    margin: auto;

}

.mainPage {
    background-color: transparent;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.homeBtn {
    background-color: transparent;
    width: 12rem;
    height: auto;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: black;
  color:whitesmoke;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.homeBtn:hover {
  background: rgba(100, 0, 0, 0.03);
}
.homeBtn__horizontal, .homeBtn__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.homeBtn__horizontal::before, .homeBtn__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.homeBtn__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.homeBtn__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.homeBtn:hover .homeBtn__horizontal {
  transform: scaleX(0);
}
.homeBtn__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.homeBtn__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.homeBtn:hover .homeBtn__vertical {
  transform: scaleY(0);
  cursor: pointer;
}

.gitlinks {
  color: black;
}

.projectlnk {
  background-color: transparent;
  width: 12rem;
  height: auto;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
--offset: 10px;
--border-size: 2px;
display: block;
position: relative;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background: black;
color:whitesmoke;
outline: none;
cursor: pointer;
font-weight: bold;
box-shadow: inset 0 0 0 var(--border-size) currentcolor;
transition: background 0.8s ease;
}
.projectlnk:hover {
background: rgba(100, 0, 0, 0.03);
}
.projectlnk__horizontal, .projectlnk__vertical {
position: absolute;
top: var(--horizontal-offset, 0);
right: var(--vertical-offset, 0);
bottom: var(--horizontal-offset, 0);
left: var(--vertical-offset, 0);
transition: transform 0.8s ease;
will-change: transform;
}
.projectlnk__horizontal::before, .projectlnk__vertical::before {
content: "";
position: absolute;
border: inherit;
}
.projectlnk__horizontal {
--vertical-offset: calc(var(--offset) * -1);
border-top: var(--border-size) solid currentcolor;
border-bottom: var(--border-size) solid currentcolor;
}
.projectlnk__horizontal::before {
top: calc(var(--vertical-offset) - var(--border-size));
bottom: calc(var(--vertical-offset) - var(--border-size));
left: calc(var(--vertical-offset) * -1);
right: calc(var(--vertical-offset) * -1);
}
.projectlnk:hover .projectlnk__horizontal {
transform: scaleX(0);
}
.projectlnk__vertical {
--horizontal-offset: calc(var(--offset) * -1);
border-left: var(--border-size) solid currentcolor;
border-right: var(--border-size) solid currentcolor;
}
.projectlnk__vertical::before {
top: calc(var(--horizontal-offset) * -1);
bottom: calc(var(--horizontal-offset) * -1);
left: calc(var(--horizontal-offset) - var(--border-size));
right: calc(var(--horizontal-offset) - var(--border-size));
}
.projectlnk:hover .projectlnk__vertical {
transform: scaleY(0);
cursor: pointer;
}

.text {
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 20px -18px inset;
}

.text {
  /*
    All of the base styles have
    moved to the “CSS” tab above.
  */
  transition: transform 250ms;
}

.text:hover {
  transform: translateY(-10px);
}

/* .aboutMe {
  justify-content: ce
} */


  
